<!DOCTYPE HTML SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<body>

<div id="cookie">

    <h2>Introduction</h2>
    <p>This page demos the Cookie scope


    <h2>Visits Cookie and the Cookie domain attribute</h2>


    <p>The
        <mark>visits</mark>
        cookie is a counter.
    </p>
    <p>If the cookie is present in the browser, the browser send it to the server.
        The server increments it by one or create if it does not get it from the browser and sends it back in the
        response to the browser.
    </p>

    <p>It permits to tell you that you have loaded/visited this page:</p>

    <script language="JavaScript">
    $(document).ready(function () {
        $('#totalTimes').html($.cookie('visits'));
    });

    </script>
    <p style="font-size:28px;text-align:center"><span id="totalTimes">0</span> time(s)!</p>

    <p>You have visited this domain:</p>

    <script language="JavaScript">
    $(document).ready(function () {
        $('#domainVisits').html($.cookie('visitsDomain'));
    });

    </script>
    <p style="font-size:28px;text-align:center"><span id="domainVisits">0</span> time(s)!</p>

    <p>This cookie is set only for the domain
        <mark data-th-text="${host}">host</mark>
        that you visits and see in the browser address bar.
    </p>
    <p>Therefore if you open this page from another domain the
        <mark>visits</mark>
        counter is not incremented.
    </p>
    <p>Try it, click on one of the below links, refresh the page and you should see that the
        <mark>visits</mark>
        value of the cookie are independent
    </p>
    <div data-th-replace="templates/fragments/cross_page.html :: #cross_page">Cross Page</div>

    <br>
    <br>



    <p>Form</p>
    <form>
        <input type="submit" name="action" value="Set Cookie To Bar"/>
        <input type="submit" name="action" value="Set Cookie To Foo"/>
        <input type="submit" name="action" value="Set Cookie To Top"/>
    </form>

    <div data-th-replace="templates/fragments/http_headers.html">Http Headers list</div>


</div>
</body>
</html>
