<!DOCTYPE HTML SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<body>

<div id="cookie">

    <script type="text/javascript">
    let webby = {};
    webby.getCookie = function(name) {
        return document.cookie
        .split(";")
        .filter( (item) => item.trim().startsWith(name))[0]
        .split("=")[1];
    }

























    </script>

    <section id="introduction">
        <h2>Introduction</h2>
        <p>This page demos the Cookie scope</p>

        <p>This scope determines when a cookie is send back to the sever with a request. It's composed of </p>
        <ul>
            <li>the
                <mark>domain</mark>
                : <span data-th-text="${domain}">domain</span></li>
            <li>the
                <mark>path</mark>
                : <span data-th-text="${path}">path</span></li>
        </ul>

    </section>

    <section id="visits">
        <h2>Demo: `visits` Cookie</h2>

        <p>The
            <mark>visits</mark>
            cookie is just a counter. Every time that they are send to the server, the server is incrementing them
            and sending them back in the response to the browser.
        </p>
        <p>It permits then to tell the number of http request sends to the server.</p>


        <section id="visitsPageScoped">
            <h3>The visits cookie, scoped to this page</h3>

            <p>The
                <mark>visits</mark>
                has as scope element
            </p>
            <ul>
                <li>
                    <mark data-th-text="${domain}">domain</mark>
                    .
                </li>
                <li>
                    <mark data-th-text="${path}">path</mark>
                </li>
            </ul>
            <p>The domain can be changed by the server but will not be accepted by the browser for security reason.</p>
            <p>This scope means that the cookie
                <mark>visits</mark>
                with this scope will be send every time, this page is loaded (ie refreshed)
            </p>
            <p>Try it your self, refresh the page and see how the counter is incrementing by one.</p>

            <p>You have loaded / visited this page:</p>
            <script type="application/javascript">
    $(document).ready(function () {
        $('#totalTimes').html(webby.getCookie("visits"));
    });

            </script>
            <p style="font-size:28px;text-align:center"><span id="totalTimes">0</span> time(s)!</p>
        </section>
        <section id="visitsDomainScoped">


            <h3>The visits cookie, scoped to the domain</h3>
            <p>A cookie with the same name can exists for the same domain with another path</p>
            <p>We have created the same `visits` cookie but with this scope:</p>
            <ul>
                <li>
                    <mark data-th-text="${domain}">domain</mark>
                </li>
                <li>
                    <mark>/</mark>
                </li>
            </ul>
            <p>This cookie is then send for all pages / resources in the domain</p>
            <p>As it has the same name, it also sends twice in the headers.</p>
            <p style="font-size:28px;text-align:center"><span data-th-text="${visits}">0</span> time(s)!</p>

        </section>
        <section id="visitsOtherDomain">
            <h3>Same cookie, other domain</h3>

            <p>This cookie is send only for the domain
                <mark data-th-text="${domain}">domain</mark>
                that you visits and see in the browser address bar.
            </p>
            <p>Therefore if you open this page from another domain the
                <mark>visits</mark>
                counter is not incremented.
            </p>

            <p>Try it, click on one of the below links, refresh the page and you should see that the
                <mark>visits</mark>
                value of the cookie are independent
            </p>
            <div data-th-replace="templates/fragments/cross_page.html :: #cross_page">Cross Page</div>
        </section>

    </section>
    <p>Form</p>
    <form>
        <input type="submit" name="action" value="Set Cookie To Bar"/>
        <input type="submit" name="action" value="Set Cookie To Foo"/>
        <input type="submit" name="action" value="Set Cookie To Top"/>
    </form>


</div>
</body>
</html>
